<header class="page-header">
	<div class="background-image-holder parallax-background">
		<!-- <img class="background-image" alt="Background Image" src="img/hero6.jpg"> -->

    <%= image_tag("hero6.jpg", alt: 'Background Image', class: "background-image") %>

	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<span class="text-white alt-font">Meet The Team</span>
				<h1 class="text-white">About Us</h1>
				<p class="text-white lead">Learn why we're the best at what we do<br>and why we're regarded as one of the best<br>in the creative industry today.</p>
			</div>
		</div>
	</div>
</header>

<section class="duplicatable-content">

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Showcase services in a<br>spacious &amp; clean manner</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="feature feature-icon-large">
					<div class="pull-left">
						<i class="icon icon-genius"></i>
					</div>
					<div class="pull-right">
						<h5>Distinct Visual Style</h5>
						<p>
							Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
						</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="feature feature-icon-large">
					<div class="pull-left">
						<i class="icon icon-linegraph"></i>
					</div>
					<div class="pull-right">
						<h5>Multiple Demos</h5>
						<p>
							Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
						</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="feature feature-icon-large">
					<div class="pull-left">
						<i class="icon icon-tools-2"></i>
					</div>
					<div class="pull-right">
						<h5>Flexible Page Builder</h5>
						<p>
							Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
						</p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="feature feature-icon-large">
					<div class="pull-left">
						<i class="icon icon-desktop"></i>
					</div>
					<div class="pull-right">
						<h5>Fully Responsive</h5>
						<p>
							Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
						</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</section>